* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
:root {
    --color: #9da6a5;
}
/* commit */
.desc-font {
    font-size: 1.4rem;
    color: var(--color);
}
.content {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}
.btn {
    display: inline-block;
    width: 186px;
    height: 68px;
    border-radius: 14px;
    background: #1ebfc1;
    box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

/* header */
.header {
    padding-top: 47px;
    position: sticky;
    background: #fff;
    top: -47px;
    z-index: 1;
}

.header .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}
.header .next-to-logo {
    width: 36.329px;
    height: 37px;
}
.header ul li a {
    padding-right: 39px;
    text-decoration: none;
    color: #2f3a3b;
    font-size: 1.6rem;
}
.header ul li a:hover {
    color: #2f3a3b;
    font-weight: 600;
}
.header ul {
    list-style-type: none;
    display: flex;
    margin-left: 70px;
}

.header .action a {
    text-decoration: none;
    color: #2f3a3b;
    font-size: 1.6rem;
}

.header a.action-btn {
    width: 108px;
    height: 48px;
    border-radius: 6px;
    border: 1px solid #1ebfc1;
    padding: 12px 23px;
    color: #1ebfc1;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 24px;
}
/* hero-wrap */
.hero-wrap {
    padding-bottom: 79px;
}
.hero-wrap .hero-left {
    width: 41%;
    margin-right: 138px;
}
.hero-wrap .hero-right {
    width: 59%;
    height: 631px;
    position: relative;
}
.hero-wrap .hero-right .image {
    width: 100%;
    height: 631px;
    object-fit: cover;
}
.hero-wrap .sub-title {
    margin-top: 93px;
    font-size: 1.4rem;
    color: #9da6a5;
}
.hero-wrap .body-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.hero-wrap .title {
    color: #0d1111;
    width: 460px;
    font-size: 6.2rem;
    font-weight: 700;
    margin-top: 18px;
    line-height: 1.16; /* 116.129% */
}

.hero-wrap .hero-desc {
    margin-top: 46px;
    width: 374px;
    color: #9da6a5;
    font-size: 1.8rem;
    line-height: 1.77; /* 177.778% */
}
.hero-wrap .action {
    display: flex;
    align-items: center;
    margin-top: 52px;
}
.hero-wrap .action .btn {
    line-height: 68px;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}
.hero-wrap .action .btn-play {
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    background: #ffffff;
}
.hero-wrap .action .img-play {
    width: 14px;
    height: 18px;
}

/* button-top */
.hero-wrap .hero-button-top {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 157px;
    height: 75px;
    border-radius: 18px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
    top: 149px;
    left: -40px;
    padding: 17px 25px 18px;
}
.hero-wrap .hero-button-top img {
    width: 36px;
    height: 40px;
    border-radius: 4px;
    background: #ff8282;
}
.hero-wrap .hero-button-top-desc {
    width: 55px;
    color: #0d1111;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 16px;
}
.hero-wrap .hero-button-top .img-wrapper {
    position: relative;
    width: 36px; /* Đảm bảo width và height cho wrapper */
    height: 40px;
    background: #ff8282;
    border-radius: 4px;
}
.hero-wrap .hero-button-top .img-wrapper::after {
    content: "";
    position: absolute;
    left: 4px;
    right: 4px;
    bottom: 8px;
    display: inline-block;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
}

/* button between */
.hero-button-between .group-icon {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 16px;
    gap: 12px; /* Thêm khoảng cách giữa các phần tử */
}
.hero-button-between .group-icon::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 50px;
    width: 26px;
    height: 6px;
    border-radius: 3px;
    background: #edf1f5;
}

.hero-button-between {
    position: absolute;
    text-align: center;
    left: -65px;
    bottom: 46px;
    width: 124px;
    height: 132px;
    border-radius: 24px;
    background: #fff;
    box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero-button-between-desc {
    margin-top: 16px;
}
/* hero-button-bottom" */
.hero-wrap .hero-button-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 45px 41px 0;
    background: #fefefd;
    width: 207px;
    height: 90px;
    border-radius: 24px;
    box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}
.hero-wrap .hero-button-bottom .desc {
    color: #0d1111;
    margin-top: 17px;
    font-size: 1rem;
    font-weight: 500;
    margin-left: 35px;
}
.hero-wrap .hero-button-bottom .images {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
}
.hero-wrap .hero-button-bottom .avatar {
    margin-left: -7px;
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    object-fit: cover;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.hero-wrap .hero-button-bottom img:first-child {
    margin-left: 0;
}
.hero-wrap .hero-button-bottom .avatar:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1ebfc1;
    font-size: 1rem;
    color: #fff;
}
/* features */
.features {
    margin-top: 130px;
}

.features .sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}
.features .title {
    width: 577px;
    margin-top: 18px;
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.33; /* 133.333% */
}
.features .features-desc {
    width: 590px;
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 18px;
}
.features .row {
    display: flex;
}
.features .column .column-img {
    width: 102px;
    height: 106px;
    margin-top: 80px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features .column:nth-child(1) .column-img {
    background: #ffc147; /* Màu nền cho cột đầu tiên */
}

.features .column:nth-child(2) .column-img {
    background: #ff947a; /* Màu nền cho cột thứ hai */
}

.features .column:nth-child(3) .column-img {
    background: #bf83ff; /* Màu nền cho cột thứ ba */
}

.features .column-title {
    color: #0d1111;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 26px;
}
.features .column-desc {
    color: #767e7e;
    margin-top: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    width: 168px;
    line-height: 1.68;
}

.features .column {
    width: 33.33%;
}
/* courses */
.courses {
    margin-top: 130px;
}
.courses .sub-title {
    color: #767e7e;
    font-size: 1.2rem;
    font-weight: 700;
}
.courses .title {
    color: #0d1111;
    font-size: 4.2rem;
    font-weight: 700;
    margin-top: 18px;
}
.courses .row-desc {
    display: flex;
    justify-content: space-between;
}
.courses .row-desc .desc {
    color: #767e7e;
    font-size: 1.8rem;
    line-height: 1.77; /* 177.778% */
    width: 525px;
    margin-top: 19px;
}
.courses .row-img {
    margin-top: 79px;
    display: flex;
}

.courses .title-img {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}
.courses .desc-pirce {
    color: #767e7e;
    font-size: 1.6rem;
}
.courses .price {
    color: #0d1111;
    font-size: 2.2rem;
    font-weight: 700;
}
.courses .desc-img {
    color: var(--color);
    font-size: 0.4rem;
    width: 265px;
}

.courses .desc-pirce {
    margin-top: 16px;
}
.courses .desc-img {
    margin-top: 12px;
}
.courses .classes-img,
.month-img {
    margin-top: 19px;
}
.classes-img::before,
.month-img::before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1ebfc1;
    margin-right: 8px;
}
.courses .row-footer {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
    margin-right: 8px;
    position: absolute;
    bottom: 50px;
    padding-top: 18px;
}
.classes-img,
.month-img {
    display: flex;
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
    margin-right: 8px;
}

.courses .row-img .images {
    width: 359px;
    height: 393px;
    border-radius: 8px;
    opacity: 0.35;
    background: #d0efed;
    object-fit: cover;
}

.courses .row-img .row {
    position: relative;
}
.courses .content-img {
    width: 325px;
    height: 195px;
    border-radius: 8px;
    background: #fff;
    padding: 18px 0 0 25px;
    box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: -120px;
    margin-left: 17px;
}
/* stast ; thống kê  */
.stast {
    margin-top: 265px;
}
.stast .main-stast {
    width: 862px;
    height: 131px;
    margin: auto;
}
.stast .row-stast {
    display: flex;
    justify-content: space-between;
}
.stast .strong {
    display: inline-block;
    color: #0d1111;
    font-size: 6.2rem;
    font-weight: 700;
    height: 93px;
}
.stast .desc-stast {
    color: #767e7e;
    font-size: 1.8rem;
    font-weight: 400;
}
